<div class="row">
    <h1> Esperiencia Laboral</h1>
    <div class="col-ing-2"></div>
    <div class="col-ing-10">
        <ul>
            <li>
                <h1> Trabajo 1 </h1> - <h3>(years)</h3>
            </li>
            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum rerum optio, corrupti, cumque mollitia quos id et qui debitis exercitationem dolorem explicabo nulla soluta illo voluptatem laudantium, eligendi accusamus. Illum.</p>
        
        </ul>
        <ul>
            <li>
                <h1> Trabajo 2 </h1> - <h3>(years)</h3>
            </li>
            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum rerum optio, corrupti, cumque mollitia quos id et qui debitis exercitationem dolorem explicabo nulla soluta illo voluptatem laudantium, eligendi accusamus. Illum.</p>
        
        </ul>
        <ul>
            <li>
                <h1> Trabajo 3 </h1> - <h3>(years)</h3>
            </li>
            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum rerum optio, corrupti, cumque mollitia quos id et qui debitis exercitationem dolorem explicabo nulla soluta illo voluptatem laudantium, eligendi accusamus. Illum.</p>
        
        </ul>
    </div>
</div>