.row{
    padding: 20px;
}
div{
    background-color: rgba(253, 195, 128, 0.952);
    text-align: center;
}
/*estilo de la foto de perfil*/

@media (min-width: 576px){
    #fotodeperfil{
        position:absolute;
        width: 15%;
        border-radius: 50%;
        box-shadow: 2px 2px 2px rgb(212, 203, 212);
        left: 3%;
        top: 500px;
    }
}
@media (max-width: 575px){
    #fotodeperfil{
        position:absolute;
        width: 30%;
        border-radius: 50%;
        box-shadow: 2px 2px 2px rgb(212, 203, 212);
        left: 35%;
        top: 850px;
    }
}

/*etiqueta nombre*/
#nombre{
 font-weight: bold;
 margin-top: 30%;
 margin-left: 5px;
}